body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 30px 0;
	color: #2e2e2e;
}

#container {
	/*background-color: #ededed;*/
	background: url('../assets/under_the_sea.png') no-repeat;
	background-size: 100%;
	opacity:0.4;
	filter:alpha(opacity=40);
	font-size: 1.25em;
	padding: 20px;
}

#disclaimer {
	text-align: center;
	color: #c6c6c6;
	font-size: 12px;
	margin-top:10px;
}

#dives {
	max-height: 10em;
	overflow: auto;
	margin-bottom: 15px;
}

#print {
	text-decoration: none;
	color: #c6c6c6;
}

#print:hover {
	text-decoration: none;
	color: #a0a0a0;
	cursor: pointer;
}

.gradient-color {
	background: -webkit-linear-gradient(left, white , red); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, white, red); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, white, red); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, white, red); /* Standard syntax */
	height: 15px;
	width: 25px;
	display: inline-block;
	margin: 0 2px;
}

.square-color {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 2px;
}

label {
	text-align: left !important;
}